body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    text-align: center;
    padding: 1.5rem;
    border-bottom: 2px solid grey;
}

header h1{
    margin: 0;
    color: rgba(197, 86, 86, 0.781);
    font-size: 2rem;
}

main{
    max-width: 600px;
    margin: 2rem auto;
    background: #222;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

ul{
    list-style: none;
    padding: 0;
}

li {
      background-color: #333;
      margin: 0.8rem 0;
      padding: 1rem;
      border-radius: 8px;
    }

li:hover {
      background-color: #444;
      transform: scale(1.03);
    }

footer {
      text-align: center;
      padding: 1rem;
      color: #888;
      font-size: 0.9rem;
    }